body {
  background-color: black;
}

.head {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, black 0%, silver 25%, red 51%, black 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 10s ease infinite;
}
  
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-note {
  font-size: 50px;
}

.side-note {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
  font-family: monospace;
  color: black;
  text-align: center;
} 

.card-container {
  margin-top: 30px;
}

.msg {
  background-color: black;
}

.inv-h {
  color: red;
}

.inventory-sec-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, black 0%, black 25%, silver 51%, black 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 10s ease infinite;
}
  
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.c-us {
  background-image: url(JPs-contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-form {
  width: 1005;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: #000000d0;
  display: inline;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
}

.info-hd {
  color: red;
  font-weight: 800px;
  font-size: 45px;
  padding-bottom: 10px;
}

.info-sec-f {
  text-align: center;
  font-weight: 800px;
  font-size: 30px;
  color: silver;
}

.text-info-sec-f {
  font-size: 20px;
}